.note {
   width: 25em;
   font-family: 'Reenie Beanie';
   font-size: 20px;
   line-height: 1.4em;
   padding: 2.8em;
   background: #FFFDE7;
   background-image: repeating-linear-gradient(180deg,
         transparent 0,
         transparent calc(1.4em - 1px),
         rgba(0, 0, 255, 0.1) calc(1.4em - 1px),
         rgba(0, 0, 255, 0.1) 1.4em);
}

#date,
#writer,
#title,
#message,
textarea {
   background: transparent;
   border: none;
}

#date {
   position: absolute;
   left: 500px;
}

#writer {
   position: absolute;
   left: 550px;
   font-size: 18px;
}

#title {
   font-size: 30px;
}

textarea {
   height: 350px;
   width: 100%;
}

#submit {
   position: absolute;
   left: 500px;
}

p {
   margin: 0 0 1.4em;
}

body {
   padding: 1em 2em;
   background-color: #f0f0f0;
}